body{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    font: normal normal normal 16px Arial #547;
}

.structural{
    margin:10px;
    padding:10px;
}

h1{
    color:brown;
    font-size: 30px;
}

h2{
    color:blue;
    font-size: 26px;
}

main{
    height: 70vh;
}

img{
    border: 2px solid #222;
    width: 90%;
    height: 80%;
}

figure{
    background-color: deeppink;
    width:45%;
    height:60%;
    margin:auto;
    padding:10px;
}

#img1{
    float:left;
}

#img2{
    float:right;
}

section{
    clear:both;
}

figcaption{
    font-weight: bold;
    font-size: 16px;
    color:rgb(127,255,0);
    padding:5px;
}

a{
    color:turquoise;
}

a:hover{
    color:#b24545;
}

ul,ol{
    list-style: square;
    line-height: 1.7;
}

header,footer{
    background-color: yellow;
    
}